[submodule "src/rtcm3.2"]
	path = src/rtcm3.2
	url = https://github.com/CastielLiu/rtcm3.2.git
[submodule "src/drivers/can2serial"]
	path = src/drivers/can2serial
	url = https://github.com/CastielLiu/can2serial.git
[submodule "src/drivers/ros_can"]
	path = src/drivers/ros_can
	url = https://github.com/CastielLiu/ros_can.git
[submodule "src/drivers/gps_driver"]
	path = src/drivers/gps_driver
	url = https://github.com/CastielLiu/gps_driver.git
[submodule "src/drivers/ant_driver"]
	path = src/drivers/ant_driver
	url = https://github.com/CastielLiu/ant_driver.git
[submodule "src/drivers/esr_radar"]
	path = src/drivers/esr_radar
	url = https://github.com/CastielLiu/esr_radar.git
[submodule "src/lidar_detect"]
	path = src/perception/lidar_detect
	url = https://github.com/CastielLiu/lidar_detect.git
[submodule "src/av_console"]
	path = src/av_console
	url = https://github.com/CastielLiu/av_console
[submodule "src/msgs/rs_sdk_percept_msg_v2.0"]
	path = src/msgs/rs_sdk_percept_msg_v2.0
	url = https://github.com/shangjie-li/rs_sdk_percept_msg_v2.0.git
[submodule "src/msgs/pathplan_msgs"]
	path = src/msgs/pathplan_msgs
	url = https://github.com/CastielLiu/pathplan_msgs.git
[submodule "src/drivers/rtcm3.2"]
	path = src/drivers/rtcm3.2
	url = https://github.com/CastielLiu/rtcm3.2.git
