<!-- -->
<launch>

	<arg name="roadnet_file" default=""/>     <!--默认为空-->
	<arg name="max_speed" default="10.0" />
	<arg name="use_extern_controller" default="false"/>
	<arg name="which_extern_controller" default="wan_controller"/>
	<arg name="use_car_follower" default="false"/>
	
	<!-- 底层控制 -->
	<arg name="can_port" default="/dev/U4"/>   <!--底层can分析仪-->
	<arg name="stm32_port" default="/dev/U6"/>          <!-- STM32-->

	<node name="ant_driver_node" pkg="ant_driver" type="ant_driver" output="screen" >
		<param name ="obd_can_port_name" value="$(arg can_port)"/>
		<param name ="stm32_port_name" value="$(arg stm32_port)"/>
		<param name ="stm32_baudrate" value="115200"/>
		<param name ="max_steering_speed" value="2.0"/> <!--前后帧转角最大差值 -->
		<param name ="steering_offset" value="20"/>  <!--左负右正 -->
		<param name ="default_drive_gear" value="false"/> <!--默认D档 ?-->
	</node>
	
	<!-- 上层控制  launch-prefix="gnome-terminal -x" -->
	<node name="driverless_node" pkg="driverless" type="driverless_node" output="screen">
		<rosparam file="$(find driverless)/config/vehicle_params.yaml" command="load"/>
		<!-- main -->
        <param name="is_offline_debug" value="true"/>
		<param name="max_speed" value="$(arg max_speed)"/>
		<param name="odom_topic" value="/ll2utm_odom"/>
		
		<!-- path_tracking -->
		<param name="max_side_accel" value="1.0"/>
		<param name="max_target_yaw_err" value="25.0"/>
		
		<!-- car_following -->
		<param name="use_car_follower" value="$(arg use_car_follower)"/>
		<param name="mm_radar_objects_topic" value="/esr_objects"/>
		<param name="base_link_frame" value="/base_link"/>
		<param name="target_repeat_threshold" value="5"/>   <!-- 目标重复出现阈值，超出此阈值开始跟车 -->
		
		<!-- extern_control -->
		<param name="use_extern_controller" value="$(arg use_extern_controller)"/>
		<param name="which_extern_controller" value="$(arg which_extern_controller)"/>
		<param name="lan_control/local_ip" value="0.0.0.0"/>
		<param name="lan_control/local_port" value="5000"/>
		<param name="wan_control/image" value="/usb_cam/image_raw"/>
		<param name="wan_control/server_ip" value="192.168.8.101"/>  <!--192.168.8.101  192.168.8.115  xhw36.155.113.13   wd62.234.114.48-->
		<param name="wan_control/sever_port" value="8617"/>
		<param name="wan_control/image_cut_up" value="100"/>
		<param name="wan_control/image_cut_down" value="30"/>
		<param name="wan_control/image_quality" value="50"/>

		<!-- reverse control test-->
		<param name="reverse_test" value="false"/>
		<param name="reverse_path_flip" value="false"/>
		<param name="reverse_path_file" value="$(arg roadnet_file)"/>

		<!-- drive control test -->
		<param name="drive_test" value="false"/>
		<param name="drive_path_file" value="$(arg roadnet_file)"/>

	</node> 
	
	<!-- GPS -->
	<include file="$(find novatel)/launch/novatel.launch"/>
	
	<!-- 毫米波雷达 -->
	<include file="$(find esr_radar)/launch/esr_radar.launch" if="$(arg use_car_follower)"/>

	<!-- 摄像头 -->
	<include file="$(find driverless)/launch/usb_cam.launch" if="$(arg use_extern_controller)"/>
	

</launch>
